## Python data structures

In [1]:
# python data structures -> 1. String
#                           2. List
#                           3. Tuple
#                           4. Set's
#                           5. Dictionary

In [ ]:
# Difference between Mutable and Immutable
#
#               Mutable                                  Immutable
# * Mutable means changable behaviour           * Immutable means cannot changable behaviour

#### 1. string

In [6]:
# string -> 

# string is Immutable
#string cannot change his behaviour

# Ex.->

a = 12
print(type(a))
b = str(a)
print(b)
print(type(b))

# In this example int can change in str it means int is mutable

<class 'int'>
12
<class 'str'>

In [8]:
a = 'datascience'
print(type(a))
b = int(a)
print(b)

# In this example str cannot change his behaviour str to int or float. It means str is Immutable

<class 'str'>

ValueError: invalid literal for int() with base 10: 'datascience'

In [10]:
# programming language has surnames which means index.
# surname is nothing but index
# Index is starts from '0' in forward direction

# Ex-> suppose we write a = datascience and we have to called out a particular letter in datascience then we have to use index.

# d a t a s c i e n c e
# 0 1 2 3 4 5 6 7 8 9 10 <------- this is called index no and each and every character have their own index no..in simple word each every character have their surname.

In [12]:
# Call character (forward direction)

a = 'datascience'

In [22]:
print(a[2])
print(a[6])
print(a[10])
print(a[-3]) # backward technique ....Please refer the 21 cell

t
i
e
n

In [20]:
b = 'I am fine'
print(b[5])

f

In [23]:
#backward direction index (but dont use this method it is very critical)

# p    y   t   h   o   n
# -6  -5  -4  -3  -2  -1

c = 'python'
print(c[-3])

h

### Slicing operation on strings with index concepts:

In [24]:
#    What is Slicing operation ?
#--> Slicing means travelling one character to another

#Ex.->
# a = 'python' 
# and I want the output 'tho'
# then use formula
#print(a[2:5]) then you will get 'tho'

In [29]:
k = 'python'
print(k[2:6])

# why 2:6..why 6 is n 
# python follows (n-1) category

thon

In [34]:
# one more ex.
z = 'data science'
print(z[2:7])

ta sc

In [47]:
h = 'data science'
print(h[-9:-4])

a sci

### slicing and Skipping concept

In [1]:
a = 'kedar gajanan sapar'
print(a[1:13:3])

# k e d a r   g a j a  n  a  n     s  a  p  a  r
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
# eran

eran

In [2]:
# Using slicing concept their are few fixed techniques:

In [4]:
a = 'Kedar'
print(a[:])  #--> : means return entire str as it is:

Kedar

In [6]:
a = 'Kedar'
print(a[2:])  #--> means from 2nd index position to entire str

dar

In [9]:
a = 'Rajinikanth'
print(a[:10])  #--> means there is destination but there is no starting point so its starts from zero

Rajinikant

In [18]:
a = 'Rajinikanth'
print(a[::-1])  #--> means from starting position to ending position everythin will be reverse

#1st : -> starting
#2nd : -> ending 
#-1 -> reverse

htnakinijaR

In [20]:
a = 'Python is very very powerful tool'
print(a[::-1])

loot lufrewop yrev yrev si nohtyP

### string concept and method:

In [21]:
# note: Each and every data structure (str, list, tuple, set's, dictionary) has there own method

In [22]:
# str is immutable : we cannot change memory space

In [27]:
mystring = 'python java'
print(mystring)

python java

In [ ]:
# shift + enter to check complete info about python predefined methods:
# Tab will show you about variables

#### 1. Adding ---> is not possible

In [29]:
# I want to "add" a character : means I want to increase the memory space : is if possible":

mystring[11] = 'M'

# adding a variable in str is not possible

TypeError: 'str' object does not support item assignment

#### 2. Inserting ---> is not possible

In [32]:
# I want to "Inserting" a character : is it possible
#I want to 4 index no which is 'o' is replace with 'K'...is it possible------> No

mystring[4] = 'K'

#Inserting index no is not possible

TypeError: 'str' object does not support item assignment

#### 3. Deleting ---> is not possible

In [34]:
# deleting is possible?
# I want to delete 5th index no

# for delete we use 'del'

del mystring[5]

TypeError: 'str' object doesn't support item deletion

#### 4. Replacing ---> is possible but within the memory  space

In [38]:
# we can replace character in str within memory space:
# using python str replace method:

mystring.replace('h','k')  # we are changing but not saving in memory

'pytkon java'

In [39]:
print(mystring)

python java

In [48]:
a = 'python'
print(a)

python

In [52]:
a = a.replace('p','M')
print(a)

Mython

In [55]:
kedar = 'what are you'
kedar = kedar.replace('what','who')
print(kedar)

who are you

In [60]:
Pakistan = 'Murdabaad Country'
print(Pakistan)

Murdabaad Country

In [62]:
Pakistan = Pakistan.replace('Murdabaad','Chapri')
print(Pakistan)

Chapri Country

In [67]:
Ram = 'Good boy'
Ram = Ram.replace('boy','Girl')
print(Ram)

Good Girl

### String method

##### 1. method : Replace

In [73]:
a = 'I am working in TransUnion as a MIS analyst'   #6 a's in sentense
a.replace('a','$')

'I $m working in Tr$nsUnion $s $ MIS $n$lyst'

In [79]:
a.replace('a','$',2)

'I $m working in Tr$nsUnion as a MIS analyst'

##### 2. method : Capitalize (starting letter will be capitalize)

In [88]:
# means captialize the starting character of the sentense

a = 'datascience is future'
a.capitalize()

'Datascience is future'

##### 3. method : Count (it is going to count how many time a particular no apperences)

In [1]:
a = 'india is my country and all Indians are my brother and sisters'
a.count('i')

5

##### 4. method : Startswith and endswith (will give us boolean value : True or False)

In [5]:
# use for check a particular character is true or false

a = 'India is my country'
a.startswith('i')

False

In [7]:
a = 'India is my country'
a.endswith('country')

True

##### 5. method : index (will tell us the index value of a character)

In [12]:
a = 'India is my country and all Indians are my brothers & sisters'
a.index('s')

7

In [19]:
a.index('s',10,41)

34

##### 6. method :  Lower and Upper

In [21]:
# Lower and upper
# lower means all capital letter convert capital to small
# Upper means all small letter convert small to  capital

a='My name Kedar Gajanan Sapar'
a.lower()

'my name kedar gajanan sapar'

In [25]:
a.upper()

'MY NAME KEDAR GAJANAN SAPAR'

##### 7. method:  isupper & islower

In [35]:
# isupper and islower
# they return bollean values if they satisfy
# checking wether each char is lower or upper letter or not

a = 'My name is Kedar Gajanan Sapar'
a.islower()

False

In [36]:
a.isupper()

False

##### 8. method : isalpha, isdecimal, isdigit, isalphanum, isnumerical

In [42]:
# isalphanum
#alnum = alphanuerical [numbers and character]

k='kedar123'
k.isalnum()

True

In [49]:
#isalpha
#checks everthing is alphabets or not

k='kedar123.2'
k.isalpha()

False

In [58]:
# isdigit
# checking everthing should be digit

a = '123'
a.isdigit()

True

##### 9. method : Title

In [61]:
#each word starting letter will be converted into capital letter

a = 'my name kedar gajanan sapar'
a = a.title()
print(a)

My Name Kedar Gajanan Sapar

In [ ]:
### split and join method will discuss after completing list method