## Data Types

In [40]:
a = 100

In [42]:
print(a)

100

In [45]:
# integer
a = 150
print(a)
print(type(a))

150
<class 'int'>

In [47]:
# Float
a = 150.22
print(a)
print(type(a))

150.22
<class 'float'>

In [50]:
# string
a = 'Kedar'
print(a)
print(type(a))

Kedar
<class 'str'>

## Variables Rules

#### Rule 1 - Variable shold not start with  the number. Please find below example

In [67]:
11a = 12
print(a)

SyntaxError: invalid decimal literal (2368312348.py, line 1)

#### Rule 2 - If you want to start a variable with the number means use Underscore _ then it's fine..Please find below example

In [8]:
_12a = 13 + 13
print(_12a)
print(type(_12a))

26
<class 'int'>

In [10]:
a = 12.0
print(a)
print(type(a))

12.0
<class 'float'>

#### Rule 3 - No space in variables if you want to connect them using underscore _ ...Please find below example

In [71]:
Kedar age = 27

SyntaxError: invalid syntax (703563733.py, line 1)

In [74]:
Kedar_age = 27
print(Kedar_age)

27

#### Rule 4 - Caes sensitive [Python is case sensitive language]********####Very much important que for interview

In [79]:
a = 100
print(A)

#Variable is case sensitive

NameError: name 'A' is not defined

#### Rule 5 - Don't use this  symbols !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ as a variables

In [82]:
# for example 
$ = 82

SyntaxError: invalid syntax (1294908388.py, line 2)