### Deep Dive into Print condition

In [15]:
# print whatever you want
print('kedar sapar')

kedar sapar

In [9]:
print('datascience')

datascience

In [13]:
print('Kya chal raha jindagi me ..Training acchi chal rhi hai na')

Kya chal raha jindagi me ..Training acchi chal rhi hai na

In [17]:
# if you try to print wihtout typing 'print' it wont work
#example

kedar

NameError: name 'kedar' is not defined

### Note - If you type print 'P' then code will not work...Always type p small in print

In [20]:
#example 
kedar = 10
Print(kedar)

NameError: name 'Print' is not defined

### we can use ' ', " ", """ """ in python version 3

In [22]:
print('single coat')

single coat

In [24]:
print(" double coat")

 double coat

In [26]:
print("""tripple coat""")

tripple coat

## Connect variables with print condition (4 different ways)

#### 1st way - Use ( , )

In [28]:
#1 way :- Use (,)
#Comma : Will connect text inside code ' ' and variables:
#Comma is going to provide 1 tab sapce for you:

age = 27
print('My age is =',age)

My age is = 27

In [35]:
Course = 'datascience'
place = 'topmentor'
access = 'online'

# I want output = I am learning data science from topmentor in online
print('I am learning',Course,'from',place,'in',access)

I am learning datascience from topmentor in online

In [1]:
one = 'name'
two = 'Gajanan Sapar'
three = 27

# I want output = My name is Kedar Gajana Sapar and I am 27 years old.
print('My',one,'is Kedar',two,'and I am',three,'years old.')

My name is Kedar Gajanan Sapar and I am 27 years old.

In [3]:
a = 'Auroius'
b = 'India'
c = 'aim'
d ='providing'

# The Aurous is an India brand aim at providing
print('The',a,'is an',b,'brand',c,'at',d)

The Auroius is an India brand aim at providing

#### 2nd way - Use + :- Using Plus we can add text inside the ' ' with vvaribles but variable should be string

In [14]:
# example - Variable should be string ...otherwise code will not run

aga = 27
print('my age is'+age)

my age isTwenty 7

## data_type conversion

In [23]:
# we can convert the variable type
#Conver int to float
# example
a = 12
print('integer value =',a)
b = float(a)   #Value 12 converting to float and saving in variable bb known b will be 12.0
print('integer value =',b)

integer value = 12
integer value = 12.0

In [29]:
a = 23
b = float(a)
print(b)

23.0

In [34]:
#Convert float to int
a = 23.0
b = int(a) # value converted int to float
print(b)

23

In [36]:
a = 50.89
b = int(a)
print(b)

50

In [43]:
# Convert int & float to str

a = 34
b = str(a)
print(b)
print(type(b))
c = int(b)
print(c)
print(type(c))
d = float(c)
print(d)
print(type(d))

34
<class 'str'>
34
<class 'int'>
34.0
<class 'float'>

In [50]:
# Convert str to int & float
# string can be converted to int when there is only no, not text

a = '43'
print(type(a))
print(a)
b = int(a)
print(type(b))
print(b)

<class 'str'>
43
<class 'int'>
43

In [51]:
# Example if str in text 
a = 'kedar'
print(type(a))
b = int(a)
print(b)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'kedar'

In [63]:
a = 20.9
print(type(a))

<class 'float'>

In [69]:
a = 26
print('my age is '+str(b))

my age is 26

In [78]:
salary = 100.2
spend = 20
course = 'Udemy'

#I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day. (Using + operators)
print('I got '+str(salary)+' '+'rs salary and learning a course in '+course
      +' '+'which charge '+str(spend)+' '+'rs per day')

#I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day. (Using , operators)
print ('I got',salary,'rs salary and learning a course in',course,'which charge',spend,'rs per day')

I got 100.2 rs salary and learning a course in Udemy which charge 20 rs per day
I got 100.2 rs salary and learning a course in Udemy which charge 20 rs per day

#### 3rd way - % [not to use because consumes lot of space in memory]

In [89]:
# int = %d
# float = %f
# str = %s

age = 27
b = 34.90
c = 'Kedar'

#My name is Kedar and my age is 27 and also I like 34.90 no

print('My name is %s and my  age is %d and also I like %f no'%(c,age,b))

My name is Kedar and my  age is 27 and also I like 34.900000 no

#### 4th way - Use f' ' --> formatting technique [very important] use in real time

In [91]:
age = 27
print(f'My age is {age}')

My age is 27

In [93]:
# My age is 27 and I like mange
age = 27
b = 'mango'

print(f'My age is {age} and I like {b}')

My age is 27 and I like mango

In [1]:
Course = 'Datascience'
cost = 10
spend = 34.2

#I am learning a datascience with 10 rs and spend 34.2 rs

print(f'I am learning a {Course} with {cost} rs and spend {spend} rs')

I am learning a Datascience with 10 rs and spend 34.2 rs

### Operators

In [2]:
#   +,-,*,/,//,%,pow,=,==,!=,<,>,<=,>=
#this are the types of operators

In [6]:
#  + operators
30+40

70

In [8]:
a = 50
b = 60
c = 10
print (a + b + c)

120

In [10]:
# - operators 

50-20

30

In [12]:
a = 60
b = 40
print(a - b)

20

In [17]:
# * operators
a = 20
b = 4
print(a * b)

80

In [19]:
# / operators
a = 20
b = 2
print(a / b)

10.0

In [23]:
#// floor dividion means remove the decimals
a = 55
b = 4
print(a//b)

13

In [25]:
# % -> nod function take reminder as output (reminder means after dividing the factor what are remaining)
#Very much important 

a = 55
b = 4
print(a%b)

3

In [30]:
# pow -> pow means power function
# power funcation is nothing but 3*3=9
#the second no will be power of starting no

pow(3,2)

9

In [32]:
# how -> 2*2*2*2*2*2*2=128

pow(2,7)

128

In [37]:
# shfit + tab = intelligence
# tab -> for complete understanding about method

pow()

TypeError: pow() missing required argument 'base' (pos 1)

In [39]:
pow(3,3,5)  # how ans is 2

#in pow fun first two variable (3,3) run as pow -> 3*3*3 = 27 
#And last one 5 is run as mod, 27%5 means 27 divided by 5 and the reminder will be the ans

2

In [41]:
pow(2,4,9)

7

In [43]:
# = operator
a = 10
b = a
print(b)

10

In [45]:
# == -> will return boolean outcome (in excel we use true false formula to comparing tow rows)\

10 == 10

True

In [47]:
8 == 3

False

In [53]:
# != -> returns boolean valuse is not equal to (same as above but the valuse come true is the amount is not same)
10 != 5

True

In [55]:
5 != 5

False

In [58]:
10 > 11

False

In [59]:
10<11

True

In [65]:
# >= and <=
10 >= 9

True

In [67]:
9>=10

False

In [64]:
11 <= 10

False