### List method (Append done in previous file)

In [ ]:
# we need to prove that list is mutable
# not only list any topic if we want to prove it is a mutable we need to come accross 3 types:
                    # i) check adding memory space:
                    # ii) check replace in the same memory space:
                    # iii) check delete memory space:

In [11]:
# i) Add some extra memory space

a = [10,20.2,'data science']
#for adding an extra space at the end of the list we can use method called append
#append is going to increase the memory space at the right end

##### 1. append method

In [16]:
a = [10,20.2,'data science']

a.append(200)
print(a)
a.append('python')
print(a)

[10, 20.2, 'data science', 200]
[10, 20.2, 'data science', 200, 'python']

In [18]:
# how to replace wherever we want:

a = [10,20.4,'data science']
print(a)

[10, 20.4, 'data science']

##### 2. insert method

In [21]:
# if we want to fill values where ever we want: use insert method:
a.insert(2,'python')
print(a)

[10, 20.4, 'python', 'python', 'data science']

In [28]:
#replace

o = [10,45.8,'Kedar']
o[2]='Sapar'
print(o)
o

[10, 45.8, 'Sapar']

[10, 45.8, 'Sapar']

In [31]:
# delete memory space:

a = [10,20,'python']

del a[2]
print(a)

[10, 20]

In [34]:
a = [10,20,30.3,49,'kedar','list',87,93,'Keyboard']

del a[4]
print(a)

[10, 20, 30.3, 49, 'list', 87, 93, 'Keyboard']

In [35]:
## Finally list is mutable : Can change memory behaviour:

### methods in list

In [37]:
a = [100,200,300.56,'raja','priya']
print(a)

[100, 200, 300.56, 'raja', 'priya']

In [40]:
a.clear()  #it removes values in a list and make variable as empty: but clear ccant delete varible 
print(a)

[]

In [46]:
# delete

a = [100,200,300.56,'raja','priya']
print(a)
del a
print(a)

[100, 200, 300.56, 'raja', 'priya']

NameError: name 'a' is not defined

In [55]:
# copy

a = [100,200,300.56,'raja','priya']

b = a 
#or
b = a.copy()

print(b)
print(a)
print(a,b)

[100, 200, 300.56, 'raja', 'priya']
[100, 200, 300.56, 'raja', 'priya']
[100, 200, 300.56, 'raja', 'priya'] [100, 200, 300.56, 'raja', 'priya']

In [58]:
# count

# Count means count the values how many time appears in cell

a = [100,200,300.56,'raja','priya',100]
a.count(100)

2

In [60]:
# extend

# extend is going to add another list at the end like append

a = [100,200,300.56,'raja','priya',100]
a.extend(['what are you do'])
print(a)

[100, 200, 300.56, 'raja', 'priya', 100, 'what are you do']

In [72]:
# index

# used to find the index of value what we have given:

a = [100,200,300.56,'raja','priya',100,'priya']

a.index(100)

# but there is 2 '100 in the list and only starting 100 has been counted but I want index value of last 100'

0

In [82]:
# index 

a.index('priya',5,7)

6

In [90]:
# pop

# use to find last memory space 
#used to remove the last memory space : and we can also remove memory space where ever we want

a = [100,200,300.56,'raja','priya',100,'priya']
a.pop()
print (a)

[100, 200, 300.56, 'raja', 'priya', 100]

In [92]:
#  remove where ever we want : using index
# I want to remove raja...How?

# Simple

a = [100,200,300.56,'raja','priya',100,'priya']
a.pop(3)

'raja'

In [94]:
print(a)

# see below result...Raja has been remove

# pop fun using for identify the last memory space also remove memory space where ever we want

[100, 200, 300.56, 'priya', 100, 'priya']

In [102]:
k = ['kedar','Kapil','Hrutvik','Pritesh','Ankit']
k.pop()   # if we use only two brackets it will show the last memory value
k.pop(2)  # if we use no of varibles in bracket then it will shows the that no memory value

# after print the varible then that particular memory has been remove from that varible
print(k)
k.insert(4,'Hrutvik')
print(k)

['kedar', 'Kapil', 'Pritesh']
['kedar', 'Kapil', 'Pritesh', 'Hrutvik']

In [104]:
print(k)

['kedar', 'Kapil', 'Pritesh', 'Hrutvik']

In [111]:
# remove : doesn't take index it will take directly the value

a = [100,200,300.56,'raja','priya',100,'priya']
a.remove(200)
print(a)

[100, 300.56, 'raja', 'priya', 100, 'priya']

In [113]:
# reverse

a = [100,200,300.56,'raja','priya',100,'priya']
a.reverse()
print(a)

# or

['priya', 100, 'priya', 'raja', 300.56, 200, 100]

In [115]:
a = [100,200,300.56,'raja','priya',100,'priya']
a[::-1]

['priya', 100, 'priya', 'raja', 300.56, 200, 100]

In [116]:
# sort : 
# simple make them in ascending or descending order
# asending order means upward
# desending order means downward

# sort method will help us in doing this

a = [10,67,43,90,25,87,93,22,45]
# make values in ascending order
# () --> paranethesis

a.sort()  # default it will  asending order
print(a)

[10, 22, 25, 43, 45, 67, 87, 90, 93]

In [123]:
# But I want in desending order

a = [10,67,43,90,25,87,93,22,45]
a.sort(reverse=True)
print(a)

[93, 90, 87, 67, 45, 43, 25, 22, 10]

In [117]:
a = ['kedar','pritesh','Kapil','Bhanupriya','Aarti']
a.sort()
print(a)

['Aarti', 'Bhanupriya', 'Kapil', 'kedar', 'pritesh']

In [125]:
a = ['kedar','pritesh','Kapil','Bhanupriya','Aarti']
a.sort(reverse=True)
print(a)

['pritesh', 'kedar', 'Kapil', 'Bhanupriya', 'Aarti']