In [1]:
# math operation in strings
# split fun in string
# join fun in string
# membership fun in stringand list 
# lenth fun, sum fun, maximum, minimum fun 

# this fun we need to complete

### Math operation in strings

In [3]:
value1 = 'ab'
value2 = 'AB'
print(value1>value2)

True

In [20]:
value1 = 'ab'
value2 = 'AB'

# How value1 > value2
#there is term in programming launage is called ASCII values 
# ASCII --> (Americal Standard Code of Information Interchange)

# and 
# a is start from 97              # A is start from 65  (As per Ascii code rule)

# a -----> 97                     # A ------> 65
# b -----> 98                     # B ------> 66
# c -----> 99 ...till             # C ------> 67....till
#.                                # .
#.                                # . 
# z ------> 122                   # Z ------>90

# There for 
#Value1 is 'ab' i.e. 97*98 = 9,506
#Value2 is 'AB' i.e. 65*66 = 4,290

# It means Value1 is greater than Value2

# Hence 
print(value1 > value2)

True

In [21]:
ord('z')

122

In [24]:
# Membership fun: its a boolean outcome

# it help to there is particular value availble in varible 

a = [10,20,30.5,'Kedar']
print(20 in a)

# 20 value availble in variable a

True

In [32]:
K = ['Ram', 'Kedar','Prasad', 'Diksha','samosa','pritesh']
print('samosa' in K)
print('Rahul' in K)

True
False

#### Len, sum, max, min in str:

In [41]:
# len
a = 'kedar sapar'

# length = will gives you the number of characters

print(len(a))

11

In [47]:
# sum

a = 50,50,40,11,90
# sum = add each ascii value
print(sum(a))

241

In [65]:
# min = based on ascii code (please find the 20th cell explanation)

l = 90,1,0,33
print(max(l))

90

In [68]:
# list

a = [10,20,30,40.5, 90]
print(len(a))

5

In [73]:
a = [10,20,30,40.5, 90]

print(len(a)) # gives you no of character
print(sum(a)) # add the no in variables
print(min(a)) # identify the min no in variable
print(max(a)) # identify the  max no in variable

5
190.5
10
90

## Split function and Join function 
#### (Very Very important topics)

In [116]:
# split
a = 'Kedar is a good guy'
a.split()

['Kedar', 'is', 'a', 'good', 'guy']

In [120]:
# we can split where we want

a = 'I work in India- I love India- I like India- I want India- India'
k = a.split('-')
print(k)

# once using the split, output will be in the form of list

['I work in India', ' I love India', ' I like India', ' I want India', ' India']

In [129]:
# Join fun : is used to join each word

s = ''.join(k)
print(s)

I work in India I love India I like India I want India India

In [138]:
a = 'Kedar Gajana, Sapar, India'
o = a.split(',')
print(o)

['Kedar Gajana', ' Sapar', ' India']

In [144]:
''.join(o)

'Kedar Gajana Sapar India'

In [154]:
# one more example
a = ['Kedar','Gajana','Sapar']
print(a)
' '.join(a)

['Kedar', 'Gajana', 'Sapar']

'Kedar Gajana Sapar'

In [203]:
# one more example

g = ['What','are','you','doing','?',25]
print(type(g))
g.pop()
print(type(g))
k = str
' '.join(g)

<class 'list'>
<class 'list'>

'What are you doing ?'

In [204]:
a = '10'
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [210]:
a = 'Kedar'
print(type(a))
''.join(a)

<class 'str'>

'Kedar'

In [223]:
# new example

value = 'I.love.programming.language'

#  I want out put = language.programming.love.I

b = value.split('.')
c = b[::-1]
d = '.'.join(c)
print(d)

language.programming.love.I

In [237]:
kedar = 'person.very.very.bad'
# I want output : Very Very bad person.
b = kedar.split('.')
b.remove('person')
b.append('person.')
c = ' '.join(b)
print(c)

very very bad person.